---
title: Lebensraum Wohnwerk
layout: default
---

    <!-- Beiträge / Abschnitte -->
    {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      {% capture bg %}{{ page.bg | downcase }}{% endcapture %}
      {% capture type %}{{ page.type | downcase }}{% endcapture %}
      {% capture image-size %}{{ page.image-size | downcase }}{% endcapture %}


      {% if page.type=="sectionbackground" %} <!-- Falls ein Hintergrundbild ausgewählt wurde: Background Bild -->
        <div id="{{id}}" class="{{type}} bg-{{id}}" style="background-image: url( {{ page.image }} );">
        </div>

      {% elsif page.type=="sectiontitle" %} <!-- rendere den Titel Text in der Mitte -->
        <div id="{{id}}" class="{{type}} bg-{{bg}}">
          <div class="containertitle {{ page.style }}">
            {{ page.content }}
          </div>
        </div>

      {% elsif page.type=="sectionleft" %} <!-- rendere den Section Text links und das Section Bild rechts -->
          <div class="grid bg-{{bg}}">

            <div id="{{id}}" class="section-col-text">
            {{ page.content }}
            </div>
            <div class="section-col-picture">
              <img src="{{ page.image }}" class="image-center" width={{ page.image-size }} />
            </div>
          </div>
        </div>

      {% elsif page.type=="sectionright" %} <!-- rendere den Section Text rechts und das Section Bild links -->
          <div class="grid bg-{{bg}}">
            <div class="section-col-picture">
              <img src="{{ page.image }}" class="image-center" width={{ page.image-size }} />
            </div>
            <div id="{{id}}" class="section-col-text">
            {{ page.content }}
            </div>
          </div>
        </div>

      {% else %}  <!-- Falls nicht: rendere die Section zentriert -->
        <div id="{{id}}" class="{{type}} bg-{{bg}}">
          <div class="container {{ page.style }}">
            {{ page.content }}
          </div>
        </div>
      {% endif %}

    {% endfor %}
