---
title: Lebensraum Wohnwerk
layout: default
---
<div id="news" class="center bg-white">
  <div class="containertitle center">
    <h1>— News —</h1>
    <h3> Das Wohnwerk und unser Umfeld</h3>
  </div>
</div>


    <!-- Beiträge / Abschnitte -->
    {% for page in site.posts %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      {% capture bg %}{{ page.bg | downcase }}{% endcapture %}
      {% capture style %}{{ page.style | downcase }}{% endcapture %}
      {% capture image-size %}{{ page.image-size | downcase }}{% endcapture %}

      {% if page.type=="news" %}

        {% if page.style=="sectionbackground" %} <!-- Falls ein Hintergrundbild ausgewählt wurde: Background Bild -->
          <div id="{{id}}" class="{{style}} bg-{{id}}" style="background-image: url( {{ page.image }} );">
          </div>

        {% elsif page.style=="sectiontitle" %} <!-- rendere den Titel Text in der Mitte -->
          <div id="{{id}}" class="{{style}} bg-{{bg}}">
            <div class="containertitle {{ page.style }}">
              {{ page.content }}
            </div>
          </div>

        {% elsif page.style=="sectionleft" %} <!-- rendere den Section Text links und das Section Bild rechts -->
            <div class="grid bg-{{bg}}">

              <div id="{{id}}" class="section-col-text">
              {{ page.content }}
              </div>
              <div class="section-col-picture">
                <img src="{{ page.image }}" class="image-center" width={{ page.image-size }} />
              </div>
            </div>
          </div>

        {% elsif page.style=="sectionright" %} <!-- rendere den Section Text rechts und das Section Bild links -->
            <div class="grid bg-{{bg}}">
              <div class="section-col-picture">
                <img src="{{ page.image }}" class="image-center" width={{ page.image-size }} />
              </div>
              <div id="{{id}}" class="section-col-text">
              {{ page.content }}
              </div>
            </div>
          </div>

        {% else %}  <!-- Falls nicht: rendere die Section zentriert -->
          <div id="{{id}}" class="{{style}} bg-{{bg}}">
            <div class="container {{ page.style }}">
              {{ page.content }}
            </div>
          </div>
        {% endif %}

      {% endif %}

    {% endfor %}
